<!--

    88                                         8888888888888888
    88                               (8)       ##^^^^888^^^^^##
    88                                               888
    88,dPPYba,  8b,dPPYba, ,adPPYYba, 88 8b,dPPYba,  888
    88P'    "8a 88P'   "Y8 ""     `Y8 88 88P'   `"8a 888
    88       d8 88         ,adPPPPP88 88 88       88 888
    88b,   ,a8" 88         88,    ,88 88 88       88 888
    8Y"Ybbd8"'  88         `"8bbdP"Y8 88 88       88 888

    PS I wanted to leave a love message here, but a love message in html? Phew!
-->

<head>
    <title>BrainT: The emotion detective for Twitter</title>
    <style type="text/css" media="screen">
        body {
          color: #808080;
          font-family: Helvetica, Arial, Verdana, sans-serif;
          font-size: 16px;
          line-height: 1.5em;
          margin-top: .5em;
        }
        #logo_wrapper img {
          max-width: 70%;
          height: auto;
        }
    </style>
</head>

<body>
    <br /><br /><br /><br /><br /><br />

    <center>
        <div id="logo_wrapper">
            <img src="http://185.203.116.239/publ/braint/braint_logo.png" border="0" alt="Braint logo"  width="16%" height="16%" alt="Braint: emotion detective" />
        </div>
        <br /><br /><br />
        <form action="" method="post">
            <textarea name="query" maxlength="280" rows="4" cols="50" placeholder="add tweet text here", required></textarea>
            <br />
            <input type="submit" value="detect">
        </form>
    </center>

    <div style="position: relative; text-align: center">
      <p style="position: fixed; bottom: 0; width:100%;">
        <small><a href="https://github.com/ims-teamlab2018/Braint">BrainT</a> -
        2018 (c) Vachagan Gratian, Marina Haid.<br />
      Contact/Feedback: vgratian(~)utopianlab.am</small></p>
    </div>

</body>
